@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Configurações globais do Minha Tarefa */

:root {
  font-family: 'Inter', sans-serif;

  --color-primary: #2563eb;
  --color-secondary: #3882f6;

  --color-background: #eff4ff;
  --color-card: #ffffff;

  --color-text: #1f2937;
  --color-text-secondary: #64748b;
  --color-border: #d7e0ef;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

/* Padroniza o cálculo das dimensões dos elementos */

* {
  box-sizing: border-box;
}

/* Remove a margem padrão criada pelo navegador */

body {
  margin: 0;
  min-width: 320px;

  background: var(--color-background);
  color: var(--color-text);
}